{% extends "layout.html" %}

{% block  body %}
<h1>İletişim:<h1>
<h5>
<hr>
Linkedin: <a href="https://www.linkedin.com/in/semiventurero/" class="button">Semi Venturero</a>
<hr>
Twitter:<a href="https://twitter.com/semi_venturero" class="button">semi_venturero</a>
<hr>
Mail: venturerosemi@gmail.com
<hr>
Github: <a href="http://github.com/semiventurero" class="button">semiventurero</a>
<hr>
Medium: <a href="https://medium.com/@semiventurero" class="button">semiventurero</a>
<h5>
{% endblock  %}